# Secretos y configuración
.env
*.key
*.crypt*
auth_data/
credentials.json

# Datos extraídos (NUNCA subir a Git)
workdir/
archivos_procesados/
media/
output/
*.db
*.db-journal
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# rclone
rclone.conf
client_secret_*.json
credentials.json
*.log
*.db
*.db-journal
*.sqlite
*.sqlite3
workdir
output